### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
len(purchase_data)

780

In [5]:
# Create a DataFrame of frames using a dictionary of lists
purchase_frame = pd.DataFrame({
    "Amount of Purchases": ["780"]})
purchase_frame

  Amount of Purchases
0                 780

## Player Count

* Display the total number of players

In [4]:
purchase_data.SN.nunique()

576

In [ ]:
# Calculate the number of unique Screen Names  in the DataFrame
screen_name = len(purchase_data["Screen Name Unique Item"].unique())

# calculate the average price
purchase_data["Price"].mean()

# calculate the number of purchases 
len(purchase_data)

# calculate total revenue
# Hint: use the pandas' sum() method to get the sum for each row
purchase_data['Total Revenue'] = purchase_data.iloc[:, 7:].sum(axis=1)
total_revenue = sum(purchase_data['Total Revenues'])

In [ ]:
# Place all of the data found into a summary DataFrame
purchasing_analysis_df = pd.DataFrame({"Screen Name Unique Item": [screen_name],
                              "Price": earliest_year,
                              "Total Purchases": len(purchase_data),
                              "Total Revenue": total_revenue})
purchasing_analysis_df

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
purchase_data.groupby("Gender").size()

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
dtype: int64

In [7]:
gender_data = purchase_data.loc[:,["SN", "Age", "Gender"]].drop_duplicates().reset_index(drop=True)
gender_data.head()

              SN  Age Gender
0        Lisim78   20   Male
1    Lisovynya38   40   Male
2     Ithergue48   24   Male
3  Chamassasya86   24   Male
4      Iskosia90   23   Male

In [12]:
gender_data2 = pd.DataFrame(gender_data.groupby("Gender").size())
gender_data2["Percentage"]= gender_data2["Gender"]/len(gender_data)*100

KeyError: 'Gender'


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
bins = [0, 799999, 1199999, 99999999999]

# Create the names for the five bins
group_names = ["<800k", "800k-1.2M", ">1.2M"]

In [ ]:
ted_df["View Summary"] = pd.cut(ted_df["views"], bins, labels=group_names, include_lowest=True)
ted_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame